/* Подключение шрифта FiraSans */
@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('./fonts/FiraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Установка глобального цвета фона и базовых стилей */
body,
html {
    margin: 0;
    padding: 0;
    width: 585px;
    height: 468px;
    overflow: hidden;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    user-select: none;
    /* Запрет на выделение текста */
}

/* Верхний блок */
.top-bar {
    width: 100%;
    height: 40px;
    background-color: #161616;
    border-bottom: 1px solid #313131;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 8px;
    padding-left: 8px;
    color: #b9b9b9;
    position: relative;
}

.title-thin-italic {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

.title-semibold-italic {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    margin: 0;
}

/* Линия, соединяющая top-bar и кружок */
.indicator-line {
    position: absolute;
    top: 40px;
    /* Находится сразу под top-bar */
    left: -1px;
    width: 1px;
    background-color: #2d8ceb;
    transition: height 0.125s ease, left 0.125s ease;
    z-index: 999;
}

/* Контейнер для двух колонок */
.split-container {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    /* Учитывая верхний и нижний блок */
    position: relative;
}

/* Левая и правая половины */
.left {
    width: 234px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #313131;
}

.left::-webkit-scrollbar {
    width: 0px;
}

.left::-webkit-scrollbar-track {
    display: none;
    opacity: 0;
}

.left::-webkit-scrollbar-thumb {
    display: none;
    opacity: 0;
}

.left::-webkit-scrollbar-button {
    display: none;
    /* Убираем верхние и нижние кнопки */
    height: 0;
}

.right {
    width: 351px;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Стилизация скроллбара для блока .right */
.right::-webkit-scrollbar {
    width: 4px;
    /* Ширина скроллбара */
    z-index: 999;
}

.right::-webkit-scrollbar-track {
    opacity: 0;
    z-index: 999;
}

.right::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    /* Цвет ползунка */
    z-index: 999;
}

.right::-webkit-scrollbar-button {
    display: none;
    /* Убираем верхние и нижние кнопки */
    height: 0;
    z-index: 999;
}

/* Стиль для текстового блока в content-1 */
.variable-name-block {
    width: 100%;
    height: 24px;
    border-radius: 1.5px;
    border: 1px solid #313131;
    background-color: #161616;
    margin-top: 6px;
    margin-left: 13px;
    margin-right: 13px;
    padding-top: 2px;
    padding-left: 5.68px;
    display: flex;
    /* Для центрирования текста по вертикали и горизонтали */
    align-items: center;
    justify-content: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e7e7e7;
    /* Цвет текста */
    box-sizing: border-box;
    /* Чтобы padding и border не увеличивали размер блока */
}

.variable-example-block {
    width: 100%;
    height: 24px;
    border-radius: 1.5px;
    border: 1px solid #313131;
    background-color: #161616;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 4px;
    padding-top: 2px;
    padding-left: 5.68px;
    display: flex;
    /* Для центрирования текста по вертикали и горизонтали */
    align-items: center;
    justify-content: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #e7e7e7;
    /* Цвет текста */
    box-sizing: border-box;
    /* Чтобы padding и border не увеличивали размер блока */
}

.variable-header-block {
    padding-top: 22px !important;
    padding-bottom: 8px !important;
    margin-left: 18.65px;
    font-weight: 200;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    color: #e7e7e7;
}

.variable-text-block {
    width: 332.35px;
    padding-left: 18.65px;
    padding-right: 18.65px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #e7e7e7;
}

.variable-example-block-text {
    width: 332.35px;
    padding-left: 18.65px;
    padding-right: 18.65px;
    margin-bottom: 4px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #e7e7e7;
}

.variable-text-block-span-1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.variable-text-block-span-2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    color: #2d8ceb;
}

.variable-name-block:hover,
.variable-example-block:hover {
    border-color: #8a8a8a;
    transition: border-color 0.125s ease;
}

/* Стили для текста "Copied" внутри блоков */
.variable-name-block .copied-text,
.variable-example-block .copied-text {
    opacity: 0;
    transition: opacity 0.125s ease;
    margin-left: 5px;
    /* Отступ слева от основного текста */
    color: #2d8ceb;
    /* Цвет текста "Copied" */
}

/* Состояние, когда текст "Copied" видим */
.variable-name-block.show-copied .copied-text,
.variable-example-block.show-copied .copied-text {
    opacity: 1;
}

/* Дополнительно, если нужно изменить стиль самого блока при копировании */
.variable-name-block.show-copied,
.variable-example-block.show-copied {
    /* Например, изменить цвет рамки */
    border-color: #2d8ceb;
}

.left,
.right {
    background-color: #1d1d1d;
}

/* Стиль активного спойлера */
.spoiler.active {
    background-color: #2a2a2a;
    padding: 8px;
    padding-bottom: 8px;
    transition: background-color 0.125s ease;
    /* Плавная анимация для фона */
    position: relative;
}

.spoiler.active .spoiler-title {
    color: #2d8ceb;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    transition: color 0.125s ease;
    /* Плавная анимация для цвета текста */
}

.spoiler.active .spoiler-icon {
    filter: invert(48%) sepia(82%) saturate(2053%) hue-rotate(177deg) brightness(95%) contrast(102%);
    transition: filter 0.125s ease;
    /* Плавная анимация для фильтра */
}

.spoiler.active .spoiler-content {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #b9b9b9;
    margin-top: 8px;
    /* Отступ сверху от заголовка до подпунктов */
    transition: opacity 0.125s ease;
    /* Плавное появление контента */
}

.spoiler.active .spoiler-content p {
    margin-top: 4px;
    /* Отступ сверху между подпунктами */
    margin-left: 24px;
    /* Отступ слева */
    cursor: pointer;
    transition: color 0.124s ease;
    /* Плавная анимация для цвета текста */
}

.spoiler.active .spoiler-content p.selected {
    color: #b9b9b9;
    /* Цвет выделенного подпункта */
}

.spoiler.active .spoiler-content p:hover {
    color: #e7e7e7;
    transition: color 0.125s ease;
    /* Плавная анимация при наведении */
}

#content-sections .content-section {
    display: none;
}

/* Синий кружок с числом подпунктов */
.active-indicator {
    width: 16px;
    height: 16px;
    border: 1px solid #2d8ceb;
    background-color: #232323;
    position: absolute;
    left: 234px;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: top 0.125s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #2d8ceb;
}

/* Стиль неактивного спойлера */
.spoiler.inactive {
    background-color: #1d1d1d;
    padding: 8px;
    transition: background-color 0.125s ease;
    /* Плавная анимация для фона */
}

.spoiler.inactive .spoiler-title {
    color: #8a8a8a;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    transition: color 0.125s ease;
    /* Плавная анимация для цвета текста */
}

.spoiler.inactive .spoiler-icon {
    filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(100%);
    transition: filter 0.125s ease;
    /* Плавная анимация для фильтра */
}

.spoiler .spoiler-content p {
    color: #8a8a8a;
    margin-bottom: 0px;
}

.spoiler.inactive .spoiler-content {
    display: none;
    opacity: 0;
}

/* Контейнер для иконки и заголовка */
.spoiler-title-container {
    display: flex;
    align-items: center;
}

/* Новый контейнер для иконки с фиксированной высотой */
.spoiler-icon-container {
    width: 8.9715px;
    height: 8.9715px;
    /* Фиксированная высота */
    padding-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Центрируем иконку */
}

.spoiler-icon {
    width: auto;
    height: 8.9715px;
    /* Иконка с фиксированной высотой */
}

/* Эффект при наведении на спойлер */
.spoiler:hover {
    background-color: #2a2a2a;
    /* При наведении меняется фоновый цвет */
    transition: background-color 0.125s ease;
    /* Плавная анимация для фона */
}

/* Нижний блок внутри правой половины */
.bottom-bar {
    width: 100%;
    height: 40px;
    min-height: 40px;
    background-color: #161616;
    border-top: 1px solid #313131;
    box-sizing: border-box;
    margin-top: auto;
    /* Прижать к низу блока .right */
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    color: #b9b9b9;
}

.license-by {
    font-weight: 300;
}

.license-nitrofix {
    font-weight: bold;
    font-style: italic;
}

.icon {
    margin-left: 8px;
    cursor: pointer;
}

.home-page-header-1 {
    position: relative;
    margin-top: 4px;
    margin-left: 18px;
    margin-right: 13px;

    font-family: 'Fira Sans';
    font-weight: 600;
    font-style: italic;
    font-size: 24px;

    color: #b9b9b9;
}

.home-page-text-block {
    width: 332.35px;
    padding-left: 18.65px;
    padding-right: 18.65px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #e7e7e7;
}

.home-page-text-1 {
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-left: -1px;
    font-weight: 200;
    font-size: 18px;
    font-style: italic;
}

.home-page-text-2 {
    font-weight: 800;
    font-size: 14px;
    margin: 0px;
    margin-left: 12px;
    margin-bottom: 4px;
}

.home-page-text-3 {
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 18.65px;
    font-weight: 400;
}

.end-page-text-spacing-1{
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
}

/* Стили для language-selector */
.language-selector {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 8px;
    cursor: pointer;
    user-select: none;
}

/* Контейнер для выбранного языка и иконки */
.language-selector .selected-language-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Стиль для выбранного языка */
.language-selector .selected-language {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #b9b9b9;
    display: inline-block;
    text-align: center;
    transition: color 0.125s ease;
    /* Переход для цвета */
}

/* Стиль для иконки стрелки */
.language-selector .arrow-icon {
    width: 8.9714px;
    height: 4.4857px;
    margin-top: 4px;
    display: inline-block;
    transition: filter 0.125s ease;
    /* Переход для фильтра */
}

/* Скрытый выпадающий список по умолчанию */
.language-selector .language-dropdown {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-10px);
    /* Начальное смещение */
    transition: opacity 0.125s ease, transform 0.125s ease, visibility 0.125s ease;

    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    background-color: #292929;
    border: 1px solid #313131;
    border-radius: 1.5px;
    padding: 4px;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
}

/* Стиль для опций в списке */
.language-selector .language-option {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    /* thin */
    color: #b9b9b9;
    padding: 4px;
    cursor: pointer;
    transition: color 0.125s ease, font-weight 0.125s ease;
}

/* Убираем подсветку фона при наведении и добавляем плавное изменение шрифта и цвета */
.language-selector .language-option:hover {
    background-color: transparent;
    color: #e7e7e7;
    font-weight: 600;
}

/* Отображение списка при активном состоянии */
.language-selector.active .language-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
    /* Возвращаем в исходное положение */
}

/* Поворот стрелки при открытии */
.language-selector.active .arrow-icon {
    transform: rotate(180deg);
    transition: transform 0.125s ease;
    /* Переход для поворота */
}

/* Изменение цвета шрифта и иконки при наведении на контейнер */
.language-selector .selected-language-container:hover .selected-language {
    color: #e7e7e7;
}

.language-selector .selected-language-container:hover .arrow-icon {
    color: #e7e7e7;
    /* Если иконка использует fill="currentColor", это изменит её цвет */
}