.right,
.split-container,
.top-bar,
body,
html {
  display: flex;
}
.indicator-line,
.right,
.split-container,
.spoiler.active,
.top-bar {
  position: relative;
}
.bottom-bar,
.language-selector .language-dropdown,
.left,
.right,
.top-bar {
  box-sizing: border-box;
}
.title-thin-italic,
body,
html {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
}
.home-text,
.title-semibold-italic,
.title-thin-italic {
  font-size: 24px;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-ExtraBoldItalic.ttf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: FiraSans;
  src: url(./fonts/FiraSans-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
body, html {
  padding: 0;
  margin: 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  color: #fff;
  user-select: none;
  height: 468px !important;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.top-bar {
  height: 40px;
  background-color: #1d1d1d;
  border-bottom: 1px solid #313131;
  align-items: center;
  justify-content: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  color: #b9b9b9;
  cursor: pointer;
}
.file-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
}
.file-icons img {
  height: 16px;
  width: auto;
  margin-right: 4px;
  cursor: pointer;
  transition: filter 125ms;
}
.file-icons img:last-child {
  margin-right: 0;
}
.file-icons img:hover {
  filter: invert(48%) sepia(82%) saturate(2053%) hue-rotate(177deg)
    brightness(95%) contrast(102%);
}
.left,
.right {
  height: 100%;
  overflow-y: auto;
  border-bottom: 1px solid #313131;
}
.home-text,
.language-selector .selected-language-container:hover .arrow-icon,
.language-selector .selected-language-container:hover .selected-language,
.top-bar:hover .title-semibold-italic,
.top-bar:hover .title-thin-italic {
  color: #e7e7e7;
}
.title-thin-italic {
  font-weight: 100;
}
.title-semibold-italic {
  font-family: "Fira Sans";
  font-weight: 600;
  margin: 0;
}
.title-semibold-italic,
.title-thin-italic {
  transition: color 125ms;
}
.home-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  margin: 0 0 0 5px;
  opacity: 0;
  transition: opacity 125ms;
  white-space: nowrap;
}
.top-bar:hover .home-text,
.variable-example-block.show-copied .copied-text,
.variable-name-block.show-copied .copied-text {
  opacity: 1;
}
.top-bar:has(.file-icons:hover) .home-text,
.top-bar:has(.language-selector:hover) .home-text {
    opacity: 0 !important;
}
.indicator-line {
  position: absolute; 
  left: -1px; 
  width: 1px;
  background-color: #2d8ceb;
  transition: height 125ms, left 125ms;
  z-index: 999;
}
.left {
  border-right: 1px solid #313131;
}
.left::-webkit-scrollbar {
  width: 0;
}
.left::-webkit-scrollbar-track {
  display: none;
  opacity: 0;
}
.left::-webkit-scrollbar-thumb {
  display: none;
  opacity: 0;
}
.left::-webkit-scrollbar-button {
  display: none;
  height: 0;
}
.right {
  padding: 0;
  overflow-x: hidden;
  flex-direction: column;
}
.variable-example-block,
.variable-name-block {
  height: 24px;
  background-color: #161616;
  margin-left: 13px;
  padding-top: 2px;
  padding-left: 4.68px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #e7e7e7;
  width: 100%;
  display: flex;
  margin-right: 13px;
  box-sizing: border-box;
}
.right::-webkit-scrollbar {
  width: 4px;
  z-index: 999;
}
.right::-webkit-scrollbar-track {
  opacity: 0;
  z-index: 999;
  background-color: #232323;
  border-left: 1px solid #313131;
}
.right::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  z-index: 999;
}
.right::-webkit-scrollbar-button {
  display: none;
  height: 0;
  z-index: 999;
}
.variable-name-block {
  border-radius: 1.5px;
  border: 1px solid #313131;
  margin-top: 6px;
  align-items: center;
  justify-content: left;
}
.variable-example-block {
  border-radius: 1.5px;
  border: 1px solid #313131;
  align-items: center;
  justify-content: left;
}
.variable-header-block {
  padding-top: 22px !important;
  padding-bottom: 8px !important;
  margin-left: 18.65px;
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
  width: 100%;
  color: #e7e7e7;
}
.variable-example-block-text,
.variable-text-block {
  font-size: 12px;
  color: #e7e7e7;
  font-family: "Fira Sans", sans-serif;
  padding-left: 18.65px;
}
.variable-example-block-text {
  margin-bottom: 4px;
}
.variable-example-block-result {
  position: relative;
  font-size: 12px;
  padding: 4px;
  margin-left: 13px;
  margin-bottom: 8px;
  width: 100%;
  background-color: #1d1d1d;
  border-left: #313131 1px solid;
  border-bottom: #313131 1px solid;
}
.aeUiElementsLayerLabel{
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  background-color: #5163b1;
  border-radius: 1.5px;
}
.aeUiElementsLayerLabel.FootageVideo{
  background-color: #85a09d;
}
.aeUiElementsLayerLabel.FootageImage{
  background-color: #85859f;
}
.aeUiElementsLayerLabel.Precomp{
  background-color: #85765e;
}
.aeUiElementsLayerShapeIcon{
  display: inline-flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
}
.aeUiElementsLayerShapeIcon img{
  display: inline-block;
  height: 12px;
}
.aeUiElementsLayerName{
  display: inline-block;
  position: relative;
  top: -1px;
  font-family: "Fira Sans", sans-serif;
}
.aeUiElementsLayerBlock{
  display: block;
  position: relative;
  width: 100%;
}
.variable-text-block-span-0 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #e7e7e7;
}
.variable-text-block-span-1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.variable-text-block-span-2 {
  font-family: "Fira Sans", sans-serif;
  color: #2d8ceb;
}
.variable-example-block:hover,
.variable-name-block:hover {
  border-color: #8a8a8a;
  transition: border-color 125ms;
}
.variable-example-block .copied-text,
.variable-name-block .copied-text {
  opacity: 0;
  transition: opacity 125ms;
  margin-left: 5px;
  color: #2d8ceb;
}
.spoiler.active,
.spoiler.inactive,
.spoiler:hover {
  transition: background-color 125ms;
}
.variable-example-block.show-copied,
.variable-name-block.show-copied {
  border-color: #2d8ceb;
}
.left,
.right {
  background-color: #232323;
}
.spoiler.active {
  background-color: #2a2a2a;
  padding: 8px;
}
.spoiler.active .spoiler-title {
  color: #2d8ceb;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: color 125ms;
}
.active-indicator,
.bottom-bar,
.home-page-text-block,
.language-selector .language-option,
.language-selector .selected-language,
.spoiler.active .spoiler-content {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
}
.spoiler.active .spoiler-icon {
  filter: invert(48%) sepia(82%) saturate(2053%) hue-rotate(177deg)
    brightness(95%) contrast(102%);
  transition: filter 125ms;
}
.spoiler.active .spoiler-content {
  display: block;
  color: #b9b9b9;
  margin-top: 8px;
  transition: opacity 125ms;
}
.spoiler.active .spoiler-content p {
  margin-top: 4px;
  margin-left: 24px;
  cursor: pointer;
  transition: color 124ms;
}
.spoiler.active .spoiler-content p.selected {
  color: #b9b9b9;
}
.spoiler.active .spoiler-content p:hover {
  color: #e7e7e7;
  transition: color 125ms;
}
#content-sections .content-section {
  display: none;
}
.active-indicator {
  width: 16px;
  height: 16px;
  border: 1px solid #2d8ceb;
  background-color: #232323;
  position: absolute;
  left: 233px;
  transform: translateX(-50%);
  border-radius: 50%;
  transition: top 125ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #2d8ceb;
}
.spoiler-icon-container,
.spoiler-title-container {
  align-items: center;
  display: flex;
}
.spoiler.inactive {
  background-color: #232323;
  padding: 8px;
}
.spoiler.inactive .spoiler-title {
  color: #8a8a8a;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: color 125ms;
}
.spoiler.inactive .spoiler-icon {
  filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%)
    contrast(100%);
  transition: filter 125ms;
}
.spoiler .spoiler-content p {
  color: #8a8a8a;
  margin-bottom: 0;
}
.spoiler.inactive .spoiler-content {
  display: none;
  opacity: 0;
}
.spoiler-icon-container {
  width: 8.9715px;
  height: 8.9715px;
  padding-right: 4px;
  justify-content: center;
}
.spoiler-icon {
  width: auto;
  height: 8.9715px;
}
.spoiler:hover {
  background-color: #2a2a2a;
}
.bottom-bar {
  height: 40px;
  min-height: 40px;
  background-color: #1d1d1d;
  border-top: 1px solid #313131;
  margin-top: auto;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b9b9b9;
}
.license-by {
  font-weight: 300;
}
.license-nitrofix {
  font-weight: 700;
  font-style: italic;
}
.icon {
  margin-left: 8px;
  cursor: pointer;
}
.license-by:hover, .license-nitrofix:hover {
  color: #e7e7e7;
  cursor: pointer; /* Укажем, что элемент кликабелен */
}

.bottom-bar .icon:hover {
  transition: filter 0.125s ease;
}

.bottom-bar .icon:hover {
  content: url('icons/icon_browser.svg'); /* Заменяем иконку при наведении */
}
.home-page-header-1 {
  position: relative;
  margin-top: 4px;
  margin-left: 18px;
  margin-right: 13px;
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #b9b9b9;
}
.home-page-text-block {
  padding-left: 18.65px;
  font-weight: 900;
  color: #e7e7e7;
}
.home-page-text-1 {
  margin: 0 0 0 -1px;
  padding-top: 16px;
  padding-bottom: 8px;
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
}
.home-page-text-2 {
  font-weight: 800;
  font-size: 14px;
  margin: 0 0 4px 12px;
}
.home-page-text-3 {
  margin: 4px 18.65px 4px 24px;
  font-weight: 400;
}
.end-page-text-spacing-1 {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
}
.bottom-bar,
.split-container,
.top-bar {
  width: 100% !important;
}
.language-selector {
  position: relative;
  display: inline-block;
  margin-left: 0;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
}
.language-selector .selected-language-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.language-selector .selected-language {
  font-weight: 700;
  color: #b9b9b9;
  display: inline-block;
  text-align: center;
  transition: color 125ms;
}
.language-selector .arrow-icon {
  width: 8.9714px;
  height: 4.4857px;
  margin-top: 4px;
  display: inline-block;
  transition: filter 125ms;
}
.language-selector .language-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(-10px);
  transition: opacity 125ms, transform 125ms, visibility 125ms;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  background-color: #292929;
  border: 1px solid #313131;
  border-radius: 1.5px;
  padding: 4px;
  z-index: 1000;
  text-align: center;
}
.language-selector .language-option {
  font-weight: 300;
  color: #b9b9b9;
  padding: 4px;
  cursor: pointer;
  transition: color 125ms, font-weight 125ms;
}
.language-selector .language-option:hover {
  background-color: #fff0;
  color: #e7e7e7;
  font-weight: 600;
}
.language-selector.active .language-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
.language-selector.active .arrow-icon {
  transform: rotate(180deg);
  transition: transform 125ms;
}
#active-indicator {
  transition: opacity 125ms, top 125ms;
  opacity: 1;
}
#indicator-line {
  transition: opacity 125ms, height 125ms, left 125ms;
  opacity: 1;
}
.split-container {
  position: relative;
  display: flex;
  height: calc(100% - 80px)!important;
  width: 100%!important;
}

.left,
.right {
  width: auto !important;
}
.left {
  min-width: 234px;
  max-width: 234px;
  flex-shrink: 0;
}
.right {
  flex: 1 1 auto;
  min-width: 351px;
}
.home-page-text-block,
.variable-example-block-text,
.variable-text-block {
  width: auto !important;
  max-width: 100% !important;
  padding-right: 18.65px !important;
  box-sizing: border-box !important;
}

.export-page-header-1 {
  position: relative;
  margin-top: 4px;
  margin-left: 18px;
  margin-right: 13px;
  font-family: "Fira Sans";
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  color: #b9b9b9;
}

 .checkboxes-container {

  padding-top: 6px;
  padding-left: 18.65px;
}

.custom-checkbox {
  display: flex;            
  align-items: center;      
  margin-bottom: 4px;       
  cursor: pointer;          
  position: relative;
  user-select: none;        
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-icon {
  width: 12px;
  height: 12px;
  background-color: #161616;  
  border: 1px solid transparent;      
  margin-right: 4px;          
  position: relative;         
  flex-shrink: 0;      
  border-radius: 1.5px;    
  transition: background-color 125ms ease, border-color 125ms ease;
}

.checkbox-text {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;           
  font-size: 12px;
  color: #8a8a8a;             
  transition: color 125ms;
}

.checkbox-icon::before {
  content: '';
  display: none;             
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:hover input:not(:checked) + .checkbox-icon {
  background-color: transparent;       
  border-color: #2d8ceb;               
}

.custom-checkbox:hover input:not(:checked) + .checkbox-icon::before {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 0.625px; 
}

.custom-checkbox:hover input:not(:checked) ~ .checkbox-text {
  color: #ffffff;
}

.custom-checkbox input:checked + .checkbox-icon {
  background-color: transparent;       
  border-color: #2d8ceb;
}

.custom-checkbox input:checked + .checkbox-icon::before {
  display: block;
  width: 7px;
  height: 7px;
  background-color: #2d8ceb;
  border-radius: 0.625px;
}

.custom-checkbox input:checked ~ .checkbox-text {
  color: #ffffff;
}

.custom-checkbox:hover input:checked + .checkbox-icon::before {
  width: 5px; 
  height: 5px;
  background-color: #8a8a8a;    
  border-radius: 0.625px;
}

.custom-checkbox:hover input:checked ~ .checkbox-text {
  color: #8a8a8a;
}

.export-button-container {
  margin-top: 0px; 
  margin-left: 18.65px;
}

.export-button {
  width: 64px;
  height: 24px;
  background-color: #161616;
  border: 1px solid #313131;
  border-radius: 1.5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #8a8a8a;
  cursor: pointer;
  transition: border-color 125ms, color 125ms, background-color 125ms;
  outline: none;
}

.export-button:hover {
  border-color: #2d8ceb;
  color: #e7e7e7;
  background-color: #161616; 
}

.export-button:active {
  background-color: #161616;
  border-color: #2d8ceb;
  color: #e7e7e7;
}

.export-button:focus {
  box-shadow: none;
}

.export-button.disabled-export-button {
  background-color: #2a2a2a;
  border-color: #313131;
  color: #8a8a8a; 
  cursor: not-allowed;
  pointer-events: auto; 
}
.import-button.disabled-import-button {
  background-color: #2a2a2a;
  border-color: #313131;
  color: #8a8a8a; 
  cursor: not-allowed;
  pointer-events: auto; 
}

.export-button.disabled-export-button:hover {
  background-color: #161616;
  border-color: #313131;
  color: #8a8a8a; 
}
.import-button.disabled-import-button:hover {
  background-color: #161616;
  border-color: #313131;
  color: #8a8a8a; 
}

#exportPath1, #exportPath2, #exportPath3, #exportUserPresets, #exportNameApply, #exportSelectedLanguage, #exportVariables, #importPath1, #importPath2{
  display: none;
}

.checkboxes-container {
  display: flex;
  align-items: flex-start;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.ok-texts {
  margin-left: 4px;
  border-left: 1px solid #313131;
  padding-left: 4px;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: #8a8a8a;
}

.ok-texts span {
  margin-bottom: 4px;
}

.custom-checkbox.disabled-checkbox .checkbox-icon {
  background-color: #2a2a2a;
  border-color: #313131;
  cursor: not-allowed;
}

.custom-checkbox.disabled-checkbox .checkbox-text {
  color: #8a8a8a;
}

.custom-checkbox.disabled-checkbox .checkbox-icon::before {
  display: none;
}

.custom-checkbox.disabled-checkbox:hover .checkbox-icon {
  background-color: #161616 !important;
  border-color: #313131 !important;
}

.custom-checkbox.disabled-checkbox:hover .checkbox-icon::before {
  display: none !important;
}

.custom-checkbox.disabled-checkbox input:disabled + .checkbox-icon {
  pointer-events: none;
}

.custom-checkbox.disabled-checkbox:hover .checkbox-text {
  color: #8a8a8a !important;
}