/* Определение CSS-переменных для отступов */
:root {
    --tooltip-offset: 10px;
}

/* Основной контейнер видео блока */
.videoblock {
    position: relative;
    padding-left: 18.65px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    display: inline-block;
    background-color: #1d1d1d;
}


/* Контейнер видео плеера */
.video-container {
    position: relative;
    overflow: visible;
    width: 314.552px;
    height: 176px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(49, 49, 49, 1);
    border-radius: 1.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    cursor: pointer;
}

.video-container #video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Информационная панель видео */
.video-info {
    position: relative;
    overflow: visible;
    width: 314.552px;
    height: 31px;
    background-color: rgba(22, 22, 22, 1);
    border: 1px solid rgba(49, 49, 49, 1);
    border-bottom-right-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -1px;
}

/* Стили для отображения текущего времени */
#currentTime {
    display: block;
    position: relative;
    margin-left: 7px;
    color: #b9b9b9;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
    /* Добавлено для фиксированной ширины цифр */
}


#titleVideo {
    display: block;
    position: relative;
    margin-left: 2px;
    color: #b9b9b9;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

/* Прогресс Бар с контейнером для области наведения */
#progressBarContainer {
    position: absolute;
    width: calc(100% - 35px);
    height: 21px;
    bottom: 0;
    padding-left: 8px;
    cursor: pointer;
    pointer-events: auto;
    transform: translateY(-22px);
}

/* Фон прогресс-бара */
#progressBarBackground {
    position: relative;
    width: 100%;
    height: 1px;
    top: 10px;
    background-color: #8a8a8a;
    transition: height 0.125s ease, top 0.125s ease;
}

/* Заполнение прогресс-бара */
#progressBarFill {
    width: 0%;
    height: 100%;
    background-color: #2d8ceb;
    transition: width 0.125s ease, height 0.125s ease, top 0.125s ease;
}

/* Кнопка перемотки */
#seekKnob {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 140, 235, 1);
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.25s linear, width 0.125s ease, height 0.125s ease, border 0.125s ease, background-color 0.125s ease;
}

/* Псевдоэлемент для внутреннего круга при наведении */
#seekKnob::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #e7e7e7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.125s ease;
}

/* Показать внутренний круг при наведении на seekKnob */
#seekKnob:hover::before {
    opacity: 1;
}

/* Иконки управления воспроизведением */
.control-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.125s ease;
    pointer-events: none;
}

/* Класс для отображения иконки */
.visible {
    opacity: 1;
}

/* Изменение высоты прогресс-бара при наведении на контейнер */
#progressBarContainer:hover #progressBarBackground,
#progressBarContainer:hover #progressBarFill {
    height: 5px;
    top: 6px;
}

/* Изменение стилей seekKnob при наведении на прогресс-бар */
#progressBarContainer:hover #seekKnob {
    width: 14px;
    height: 14px;
    border: 1px solid #2d8ceb;
    background-color: #232323;
}

/* Класс для отключения переходов */
.no-transition {
    transition: none !important;
}

/* Стили для временного блока */
#timeTooltip {
    position: absolute;
    width: 53px;
    height: 16px;
    background-color: #161616;
    /* Обновленный цвет фона */
    border: 1px solid #313131;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    /* Изначально скрыт */
    transition: opacity 0.125s ease;
    /* Плавная анимация появления и исчезновения */
    transform: translateX(-50%);
    /* Центрирование относительно курсора */
}

/* Стили для белого кружка при наведении */
#hoverCircle {
    position: absolute;
    width: 5px;
    height: 5px;
    margin-top: 11px;
    background-color: #e7e7e7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* Изначально видим */
    transition: opacity 0.3s ease;
    /* Увеличили время для более плавного эффекта */
    pointer-events: none;
    /* Устанавливаем вертикальную позицию на 50% */
    top: 50%;
}