body {
    background-color: #282828;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #content {
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1e90ff;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #63a4ff;
  }
  