@font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
   }
   @font-face {
    font-family: "FiraSans";
    src: url("./fonts/FiraSans-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
   }
   :root {
    --tooltip-offset: 10px;
   }
   .videoblock {
    position: relative;
    padding-left: 18.65px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    display: inline-block;
    background-color: #232323;
   }
   .videoblock:hover .video-container,
   .videoblock:hover .video-info {
    border-color: #8a8a8a;
   }
   .videoblock:hover .video-info {
    border-top-color: #313131;
   }
   .video-container {
    position: relative;
    overflow: visible;
    width: 314.552px;
    height: 176px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(49, 49, 49, 1);
    border-radius: 1.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    cursor: pointer;
    transition: border-color 0.125s ease;
    transition-timing-function: ease !important;
   }
   .video-container #video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .video-info {
    position: relative;
    overflow: visible;
    width: 314.552px;
    height: 31px;
    background-color: #1d1d1d;
    border: 1px solid rgba(49, 49, 49, 1);
    border-bottom-right-radius: 1.5px;
    border-bottom-left-radius: 1.5px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -1px;
    transition: border-color 0.125s ease;
    transition-timing-function: ease !important;
   }
   
   .scale-up-icon {
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-right: 4px;
    cursor: pointer;
    transition: filter 0.125s ease;
   }
   
   .scale-up-icon:hover {
    filter: invert(48%) sepia(82%) saturate(2053%) hue-rotate(177deg)
     brightness(95%) contrast(102%);
    transition: filter 0.125s ease;
   }
   
   #currentTime {
    display: block;
    position: relative;
    margin-left: 7px;
    color: #b9b9b9;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
   }
   #titleVideo {
    display: block;
    position: relative;
    margin-left: 0px;
    color: #b9b9b9;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
   }
   #progressBarContainer {
    position: absolute;
    width: calc(100% - 35px);
    height: 21px;
    bottom: 0;
    padding-left: 8px;
    cursor: pointer;
    pointer-events: auto;
    transform: translateY(-22px);
   }
   #progressBarBackground {
    position: relative;
    width: 100%;
    height: 1px;
    top: 10px;
    background-color: #8a8a8a;
    transition: height 0.125s ease, top 0.125s ease;
   }
   #progressBarFill {
    width: 0%;
    height: 100%;
    background-color: #2d8ceb;
    transition: width 0.125s ease, height 0.125s ease, top 0.125s ease;
   }
   #seekKnob {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(45, 140, 235, 1);
    border-radius: 50%;
    cursor: pointer;
    transition: left 0.125s ease, width 0.125s ease, height 0.125s ease,
     border 0.125s ease, background-color 0.125s ease;
   }
   #seekKnob::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background-color: #e7e7e7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.125s ease;
   }
   #seekKnob:hover::before {
    opacity: 1;
   }
   .control-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.125s ease;
    pointer-events: none;
   }
   .visible {
    opacity: 1;
   }
   #progressBarContainer:hover #progressBarBackground,
   #progressBarContainer:hover #progressBarFill {
    height: 5px;
    top: 6px;
   }
   #progressBarContainer:hover #seekKnob {
    width: 14px;
    height: 14px;
    border: 1px solid #2d8ceb;
    background-color: #232323;
   }
   .no-transition {
    transition: none !important;
   }
   #timeTooltip {
    position: absolute;
    width: 53px;
    height: 16px;
    background-color: #161616;
    border: 1px solid #313131;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    border-radius: 2px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.125s ease;
    transform: translateX(-50%);
   }
   #hoverCircle {
    position: absolute;
    width: 5px;
    height: 5px;
    margin-top: 11px;
    background-color: #e7e7e7;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    top: 50%;
   }
   .control-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    transition: opacity 125ms ease;
    pointer-events: none;
    filter: invert(72%) sepia(2%) saturate(10%) hue-rotate(320deg) brightness(88%)
     contrast(85%);
   }
   .visible {
    opacity: 1;
   }
   .video-container:hover .control-icon {
    filter: invert(48%) sepia(82%) saturate(2053%) hue-rotate(177deg)
     brightness(95%) contrast(102%);
    transition: filter 0.125s ease;
   }
   #video {
    transition: filter 125ms ease;
   }
   .videoblock.paused #video {
    filter: grayscale(100%);
   }
   #video {
    transition: filter 125ms ease;
    filter: grayscale(0%);
   }
   .videoblock.paused #video {
    filter: grayscale(100%);
   }
   .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 125ms ease;
    pointer-events: none;
   }
   .videoblock.paused .video-overlay {
    background-color: rgba(0, 0, 0, 0.5);
   }
   
   .videoblock.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 547px;
    height: 337px;
    padding-left: 0px;
    border-radius: 6px;
    border: 1px solid #8a8a8a;
    transform: translate(-50%, -50%);
    z-index: 1001;
   }
   
   .videoblock.enlarged .video-container {
    width: 547px;
    height: 307px;
    border: none;
   }
   
   .videoblock.enlarged .video-info {
    width: 547px;
    height: 30px;
    border: none;
   }
   
   .videoblock.enlarged #progressBarContainer {
    transform: translateY(-19px);
   }
   
   .shadow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    pointer-events: auto;
   }
   